@font-face {
  font-family: "Big Noodle Titling";
  src: url("/fonts/big_noodle_titling.woff") format("woff");
}

@font-face {
  font-family: "TT Fellow";
  src: url("/fonts/TT_Fellows.woff") format("woff");
}
@font-face {
  font-family: "Big Whale";
  src: url("/fonts/Bigwhale.woff") format("woff");
}

.herotext {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.abouttext {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.herop {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.aboutp {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#Solucions h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#Solucions h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#Solucions p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#problems h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#problems h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#problems p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  padding-bottom: 30px;
}

#blog h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#blog h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

img {
  border-radius: 30px;
}

.forms{
  padding: 50px;
}
